/*  your css code here. If applicable */
.hero{
	display:flex;
	justify-content:left;
	align-items:flex-start;
}
#eg{
	width:400px;
	height:200px;
	object-fit:cover;
}
.child{
	display:flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
}
#btn{
	padding:10px;
	background-color:red;
	color:white;
	border-radius:5px;
}